{% extends 'mobile/base.html' %}
{% load static %}
{% block content %}

<div class="img">
    <img src="{% static 'mobile/1.jpg' %}" alt="">
</div>

<div class="menu">
    <ul>
        <li><a href="#">Авто</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Условия</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Заказ авто/Регистрация</a></li>
    </ul>

</div>
<div class="block">
    {% for project in projects %}

    <div class="element">
        <h2>
            {{ project.title }}
        </h2>

        <div><a href="#"><img src="{{ project.image.url }}" alt=""></a></div>
        <div class="text">{{ project.text|linebreaks}}</div>  <!--slice:"150"-->

    </div>

    {% endfor %}
</div>
{% endblock %}