<!DOCTYPE html>
{% load static %} <!-- подключаем статические файлы -->
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <!-- Icon - font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}"/>
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}"/>

    <title>DevSearch - Connect with Developers!</title>
</head>

<body>
{% include 'projects/navbar.html' %}  <!--подключаем страницу html -->

{% if messages %}                       <!--подключаем вывод сообщений из views-->

{% for message in messages %}           <!--показать все сообщения в цикле-->
<div style="text-align: center">
    <div class="alert alert--{{message.tags}}">  <!--вывод сообщения с названием тега-->
        <p class="alert__message">{{message}}</p>
        <button class="alert__close">⨯</button>
    </div>
</div>
{% endfor %}

{% endif %}

{% block content %}{% endblock %}

<script src="{% static 'uikit/app.js' %}"></script>  <!--подключаем файл js из папки static.uikit-->

</body>

</html>



