{% extends 'skills/base.html' %}

{% block content %}

<h1>Блог</h1>

{% for blog in blogs %}

<div class="element">
    <h2 class="top">
        <a href="{% url 'detail' blog.id %}">{{ blog.title }}</a>
    </h2>
    <div class="blog_text">
        <h5>{{ blog.date|date:'d.m.Y' }}</h5>  <!-- обработчик даты (день, месяц, год)-->
        <div>{{ blog.description|striptags|truncatechars:360 }}</div>  <!-- ограничение по количеству выводимых символов, удалили теги -->
    </div>                                                              <!-- выводим текстовое содержание на страницу
</div>

{% endfor %}


{% endblock %}