{% extends 'base2.html' %}

{% block content %}

<h1>Прислать новость</h1>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<form action="{{ url_for('add_post') }}" method="post">
    <p>Имя: <input type="text" name="username" required></p>
    <p>Email: <input type="email" name="email" required></p>
    <p>Сообщение:</p>
    <p><textarea name="post" cols="40" rows="7"></textarea></p>
    <p><input type="submit" value="Отправить"></p>
</form>

{% endblock %}