{% extends 'cms/base.html' %}

{% block content %}

	{% include 'cms/carusel.html' %}
  	<!-- Карточки -->
<!--  	<section>-->
<!--  		<div class="container">-->
<!--  			<h1 class="text-3">ПАКЕТЫ УСЛУГ</h1>-->
<!--  			<div class="row justify-content-center">-->
<!--  				<div class="card product_card" style="width: 18rem; background-color: #33CCFF;">-->
<!--				  <div class="card-body">-->
<!--				    <h5 class="card-title">МИНИМУМ</h5>-->
<!--				    <p class="card-text">Windows, office, драйвера, базовая настройка</p>-->
<!--				    <h3>2 000 руб.</h3>-->
<!--				  </div>-->
<!--				</div>-->
<!--				<div class="card product_card" style="width: 18rem; background-color: #FF9900;">-->
<!--				  <div class="card-body">-->
<!--				    <h5 class="card-title">СТАНДАРТ</h5>-->
<!--				    <p class="card-text">Windows, office, антивирус, драйвера и др.</p>-->
<!--				    <h3>3 000 руб.</h3>-->
<!--				  </div>-->
<!--				</div>-->
<!--				<div class="card product_card" style="width: 18rem; background-color: #66FF66;">-->
<!--				  <div class="card-body">-->
<!--				    <h5 class="card-title">ДЛЯ ДОМА</h5>-->
<!--				    <p class="card-text">Windows, до 20 программ, антивирус, все драйвера и др.</p>-->
<!--				    <h3>4 500 руб.</h3>-->
<!--				  </div>-->
<!--				</div>-->
<!--  			</div>	-->
<!--  		</div>-->
<!--  	</section>-->
  	<!-- Таблица -->
<!--  	<section>-->
<!--  		<div class="container">-->
<!--  			<h1 class="text-3">Цены на услуги</h1>-->
<!--  			<table class="table table_one">-->
<!--			  <thead class="alert-success">-->
<!--			    <tr>-->
<!--			      <th scope="col">Услуга</th>-->
<!--			      <th scope="col">Старая цена</th>-->
<!--			      <th scope="col">Новая цена</th>-->
<!--			    </tr>-->
<!--			  </thead>-->
<!--			  <tbody>-->
<!--			    <tr>-->
<!--			      <td>Ремонт компьютерной техники</td>-->
<!--			      <td><del>2000</del></td>-->
<!--			      <td>1000</td>-->
<!--			    </tr>-->
<!--			    <tr>-->
<!--			      <td>Удаление вирусов</td>-->
<!--			      <td><del>900</del></td>-->
<!--			      <td>450</td>-->
<!--			    </tr>-->
<!--			    <tr>-->
<!--			      <td>Установка программ</td>-->
<!--			      <td><del>1000</del></td>-->
<!--			      <td>500</td>-->
<!--			    </tr>-->
<!--			  </tbody>-->
<!--			</table>-->
<!--  		</div>-->
<!--  	</section>-->
  	<!-- форма -->
<!--  	<section>-->
<!--  		<div class="container class_form">-->
<!--  			<h1 class="text-3">Оставь заявку и получи услугу</h1>-->
<!--  			<div class="row justify-content-center">-->
<!--  			<form action="" method="" style="width: 50%;">-->
<!--			  <div class="form-group row">-->
<!--			    <label for="inputEmail3" class="col-sm-2 col-form-label">Имя</label><br>-->
<!--			      <input type="text" class="form-control" name="name">-->
<!--			    <div class="">-->
<!--			    </div>-->
<!--			  </div>-->
<!--			  <div class="form-group row">-->
<!--			    <label for="inputEmail3" class="col-sm-2 col-form-label">Телефон</label><br>-->
<!--			      <input type="text" class="form-control" name="phone">-->
<!--			    <div class="">-->
<!--			    </div>-->
<!--			  </div>-->
<!--			  <div style="float: right;" class="form-group row">-->
<!--			      <button type="submit" class="btn btn-success">ОСТАВИТЬ ЗАЯВКУ</button>-->
<!--			  </div>-->
<!--			</form>-->
<!--			</div>-->
<!--  		</div>-->
<!--  	</section>-->

{% endblock %}

