@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    background: #CCCCFF;
    padding: 0;
    margin: 0;
}
.img{
    justify-content: space-between;



}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

.block{
    display: flex;
    flex-wrap: wrap;
    
}

.element{
    flex-basis: 360px;
}

.menu{
    background: #003366;
    box-shadow: 0 2px 12px 2px #003366;
    

}

.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}  

.menu a, .menu li{
    color: #FFF;
    text-decoration: none;
    


}
.block img{
    max-width: 360px;
}
